.container {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.navigation {
  width: 500px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.auth {
  width: 330px;
  display: flex;
  justify-content: space-between;
}

.login {
  color: white;  
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;

  width: 120px;
  border-radius: 55px;
  padding: 10px 24px;
  margin: 8px 0px;

  background: orange;
  border: none;
  cursor: pointer;
}

.register {
  color: black;  
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;

  width: 200px;
  border-radius: 55px;
  padding: 10px 24px;
  margin: 8px 0px;

  background: white;
  border: 0.5px solid #CFD8DC;
  cursor: pointer;
}
