.nextBtnBlock {
  position: absolute;
  padding-right: 10%;
  bottom: -5%;
  right: 0;
}

.nextBtn {
  right: 0;
  font-size: 90px;
  cursor: pointer;
  color: #3a3939;
  width: 100px;
  height: 100px;
  margin: auto;
}

.nextBtnText {
  width: auto;
  color: #3a3939;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
